table {
  font-family: 'Ubuntu', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
	background-color: #7846E9;
	color: white;
}
tr:nth-child(even) {
  background-color: #DDF3F6;
}